body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    transition: background-color 0.3s, color 0.3s;
    background-color: #e6e7e5;

  }
  
h1 {
    color: #2e7d32;
    text-align: center;
    margin-top: 30px;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.459);
    max-width: 85%;
    margin: 30px auto;
}

fieldset {
    border: 2px solid #2e7d32;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

legend {
    font-weight: bold;
    color: #2e7d32;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="checkbox"] {
    margin-right: 10px; /* Espaçamento entre o checkbox e o texto */
    vertical-align: middle; /* Alinha verticalmente o checkbox com o texto */
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 99%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
  }
  

.btn {
    background-color: #2e7d32;
    width: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background-color: #1b5e20;
}
